.header {
  text-align: center;
}

.navbar-default {
  background: none;
  margin-bottom: 0px;
  }

.jumbotron {
  background-image: linear-gradient(lightgreen, yellow);
  color: white;
  min-height: 500px;
  }
